## Local postgres database to Pandas Dataframe

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine #requires psycog2 module to connect to postgres SQL

In [2]:
# Create Connection to local database 
engine = create_engine('postgresql://postgres@localhost:5432/tysql')

In [3]:
# Create a dataFrame from a SQL command
df = pd.read_sql_query('select * from products',con=engine)

In [6]:
#
df

,prod_id,vend_id,prod_name,prod_price,prod_desc
0,BR01,BRS01,8 inch teddy bear ...,5.99,"8 inch teddy bear, comes with cap and jacket"
1,BR02,BRS01,12 inch teddy bear ...,8.99,"12 inch teddy bear, comes with cap and jacket"
2,BR03,BRS01,18 inch teddy bear ...,11.99,"18 inch teddy bear, comes with cap and jacket"
3,BNBG01,DLL01,Fish bean bag toy ...,3.49,"Fish bean bag toy, complete with bean bag worm..."
4,BNBG02,DLL01,Bird bean bag toy ...,3.49,"Bird bean bag toy, eggs are not included"
5,BNBG03,DLL01,Rabbit bean bag toy ...,3.49,"Rabbit bean bag toy, comes with bean bag carrots"
6,RGAN01,DLL01,Raggedy Ann ...,4.99,18 inch Raggedy Ann doll
7,RYL01,FNG01,King doll ...,9.49,12 inch king doll with royal garments and crown
8,RYL02,FNG01,Queen doll ...,9.49,12 inch queen doll with royal garments and crown